<div class="card p-3" *ngIf="product">
    <div class="cover mt-2">
      <img [src]="product.images[0]" class="card-img-top book-img" alt="..." />
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between mb-2 align-items-center">
        <div class="title">
          <h6>{{ product.category | uppercase }}</h6>
          <h4 class="card-title">{{ product.title | titlecase }}</h4>
        </div>
        <div class="price-container">
          <span class="price fs-3 fw-bold">{{product.price | currency: 'EUR' : 'symbol' : '1.0-2' }}</span>
          <!-- <span class="price fs-6 fw-bold" *ngIf="product.discountPercentage">{{product.price | currency: 'EUR' : 'symbol' : '1.0-2' }}</span> -->

        </div>
      </div>
      <div>
        <h6 class="mb-2">description</h6>
        <p class="card-text">{{ product.description | truncate: 8 }}</p>
        <div>
          <input type="text" placeholder="Update description" [formControl]="formControlName">
          <button (click)="submit()">Submit</button>
        </div>
        <!-- <span class="badge border rounded-pill" 
              [ngClass]="product.stock > 5 ? 
              'bg-success-subtle border border-success-subtle text-success-emphasis' : 
              'bg-warning-subtle border-warning-subtle text-warning-emphasis'">
          {{ product.stock > 5 ? "In Stock" : "Few Items Left" }}
        </span> -->
      </div>
      <div class="d-flex justify-content-between">
        <a class="btn btn-primary" (click)="productClicked.emit('VISIT')">Visit Link</a>
        <button class="btn btn-danger" (click)="productClicked.emit('DELETE')">Delete </button>

      </div>
    </div>
</div>