<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let nav of navigationData">
      <a [routerLink]="nav.path" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-current="page">{{nav.title}}</a>
    </li>
 </ul>
 <div class="auth">
  <app-badge></app-badge>
  <button class="btn btn-info ms-2" (click)="gotoAuth()">Sign In</button>
  <button class="btn btn-warning ms-2" (click)="logOut()">Sign Out</button>
 </div>
</header>
