.card {
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    .cover {
        width: 100%;
        height: 200px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .price-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 90px;
        align-items: flex-end;

    }

    .price {
        font-size: 20px;
        text-align: end;

        &.onsale {
            color: red;
            text-decoration: line-through;
        }
    }

    h4 {
        font-family: fantasy;
        font-size: 18px;
        margin: 0;
    }

    h6 {
        margin: 0;
        font-size: 12px;
        text-transform: uppercase;
        color: grey;
    }

    .title {
        word-wrap: break-word;
        max-width: 150px;

    }

    // .chip {
    //     padding: 3px 17px;
    //     border-radius: 25px;
    //     border: 1px solid #ccc;
    //     font-weight: 500;
    //     color: #000;

    //     &.alert {
    //         background-color: orange;
    //         border: 1px solid #e3aa7f;
    //         color: white;
    //     }

    //     &.instock {
    //         background-color: #1fb11f;
    //         border: 1px solid #4c833f;
    //         color: white;
    //     }
    // }

}