<div [ngSwitch]="cartProducts.length > 0">
  <ng-container *ngSwitchCase="true">
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartProducts" >
            <th scope="row">{{product.id}}</th>
            <th scope="row">{{product.title}}</th>
            <th scope="row">{{product.price}}</th>
            <!-- <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td> -->
          </tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr> -->
        </tbody>
    </table>
    <div>
      <p>Total: </p>
      <span>{{ totalPrice }}</span>
    </div>
  </ng-container>
  <div *ngSwitchCase="false">
    There are no items stored.
  </div>


</div>