<div class="content d-flex justify-content-around">
    <div class="left-container d-flex row">
        <h5>Book Data</h5>
        <div class="d-flex align-items-center">
            <h4>MESSAGE:</h4>
            <span class="ms-2 text-danger fs-4">{{ messageFromParent }}</span>
        </div>
        <span>Title: {{bookDetails.title}}</span>
        <span>SubTitle: {{bookDetails.subtitle}}</span>
        <span>Page: {{bookDetails.pages}}</span>
        <div class="child-container">
            <span><a [href]="bookDetails.website" target="_blank">Visit:</a></span>
        </div>
        <button (click)="sendData()">Send Data to Child</button>
    </div>
    <div class="right-container">
        <app-card [book]="bookDetails" [message]="messageFromParent" (signal)="receiveData($event)"></app-card>
        <!-- <app-card [book]="myFavBook"></app-card> -->
    </div>
</div>