<h1>Angular App!</h1>
<div class="data">
  <!-- One Way Data Binding -->
  <p>Project title is: {{ title }}</p> 
  <p>My number is: {{ decimalNumber }}</p> 
  <p class="name">Winter: {{ isWinter }}</p> 
  <div>
    <p>Student Data: {{ student | json }}</p>
    <span class="name">{{ student.name }}</span> <br>
    <span class="age">{{ student.age }}</span> <br>
    <span class="status">{{ student.isStudent }}</span> <br>
    <span>{{ student.gpa }}</span> <br>
  </div>
</div>
<app-header></app-header>