<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-7 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="logo text-primary-color">Shop</h3>
              <div class="mt-5 mb-5 header">
                <p class="text-muted">We'd gladly serve you!</p>
                <h2>Sign in</h2>
              </div>
              <form #signInForm="ngForm" (ngSubmit)="onSignIn(signInForm)">
                <div class="form-group mb-3">
                  <label for="email">E-mail</label>
                  <input
                    type="email"
                    class="form-control border-0 px-4"
                    id="floatingInput"
                    placeholder="Type your e-mail"
                    name="email"
                    ngModel
                    required
                    minlength="7"
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control border-0 px-4"
                    id="floatingPassword"
                    placeholder="***"
                    name="password"
                    ngModel
                  />
                </div>
                <div class="m-auto text-center">
                  <button type="submit" class="btn btn-primary btn-submit">
                    {{ "Sign in" | uppercase }}
                    <i class="bi bi-arrow-right"></i>
                  </button>
                  <div class="mt-4">
                    <span>I do not have an account.</span>
                    <a routerLink="/sign-up" class="text-primary-color ms-2">Sign up</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 banner">
      <img src="assets/bg-image.png" alt="" class="bg-image" />
    </div>
  </div>
</div>

<!-- <div class="login-page">
    <div class="form">
      <form class="login-form" #signInForm="ngForm" (ngSubmit)="onSignIn(signInForm)">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            name="email"
            ngModel
            required
            minlength="7"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            name="password"
            ngModel
          />
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="form-check text-start my-3">
          <input
            class="form-check-input"
            type="checkbox"
            value="remember-me"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Remember me
          </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        <p>Don't you have account ?</p>
        <a routerLink="/sign-up">Sign Up</a>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
      </form>
    </div>
  </div> -->
